.DS_Store
www/protected/config/config.php
www/assets/
www/upload/*
!www/upload/index.html
www/protected/runtime/HTML/
www/protected/runtime/URI/
www/protected/runtime/cache/
www/protected/runtime/gii-1.1.14/
www/protected/runtime/*.log
www/protected/runtime/*.bin
!www/protected/runtime/.htaccess
