body {
    background: #e2e2e2; padding-top: 70px; min-height: 768px;
}
a { 
    outline: none;
}
a:focus { 
    outline: none;
}
a.light, span.light {
    color: #ccc;
    font-size: 12px;
}
h4.post-title {
    margin-top: 0px;
}
div.dashed {
    height: 16px;
    border-bottom: 1px dashed #ccc;
    margin-bottom: 10px;
}
div.avatar {
    height: 48px; width: 48px;background: #999;
}

article {
    overflow: auto;
}

img.third-login-btn {
    width: 160px;
}